[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
pytest-randomly = "*"
pytest-html = "*"
selenium = "*"
pytest-rerunfailures = "*"
ipython = "*"
pytest-repeat = "*"
pytest-xdist = "*"
pytest-ordering = "*"
pytest-mock = "*"
pytest-datadir = "*"
pyyaml = "*"
pluggy = "*"

[requires]
python_version = "3.7"
